body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:yellow;
}

div.eachwap {
  text-align:center;
  border:2px solid #a1a1a1;
  background:yellow;
  border-radius:25px;
}

a {
  color: #00B7FF;
}
