body {
  position:relative;
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div#support {
  position:relative;
  left:300px; 
  bottom:32px;
}

nav#nav-day {
  position:relative;
  left:350px;
}

a {
  color:#ffffff;
}
