body {
  position:relative;
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div#support {
  position:relative;
  left:300px; 
  bottom:32px;
}

div.container-fluid {
  width:500px;
  word-wrap:break-word;
}

div#content {
  position:relative;
}

nav#nav-day {
  position:fixed !important; 
  _position:absolute; 
  top:10px; 
  left:400px;
  _top:expression(offsetParent.scrollTop+50);
  z-index:10000;
}

a {
  color:#ffffff;
}
